main{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: #476ECC;
    color: #fff;
    padding: 30px 50px ;
    box-sizing: border-box;
    text-align: center;
}
h1{
    border: 10px solid #fff;
    border-radius: 60px;
}
